# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @chufnagel

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
package.json    @chufnagel
package-lock.json @chufnagel
server/env* @chufnagel
.eslintrc.js @chufnagel
webpack.config.js @chufnagel
.travis.yml @chufnagel
.gitignore @chufnagel