### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
package-lock.json

pids
logs
results


### NPM ###
npm-debug.log
node_modules
*node_modules
**node_modules
***node_modules
****node_modules


### Bower ###
**/bower_components/


### PhPStorm ###
.idea/

# Floobits
.floo
.floobit
.floo
.flooignore

## API keys
server/env/config.js
server/env/config.example.js

# Travis client.travis.yml
codecov.yml

# Webpack
./client/dist/bundle.js
client/dist/bundle.js

# Yelp-Fusion examples
yelp-node-examples/

# Fonts
./client/dist/*.woff2
./client/dist/*.woff