.mainTransition-appear {
  opacity: 0.01;
}

.mainTransition-appear.mainTransition-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.mainTransition-enter {
  opacity: 0.01;
  transform: scale(0);
}

.mainTransition-enter.mainTransition-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms ease-in;
}

.mainTransition-exit {
  opacity: 1;
  // transform: scale(1);
}

.mainTransition-exit.mainTransition-exit-active {
  opacity: 0.01;
  transform: scale(0);
  transition: opacity 300ms ease-in;
} 