.display {
    align-content: center;
    background-color: rgb(216, 164, 164);
    margin: auto;
    padding-top: 2%;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 3%;
  }
  
  .faves-btn {
    /* padding: 10%; */
  }
  
  .skip-btn {
    padding: 5%;
  }
  
  .show-info-btn {
    padding: 5%;
  }
  
  .save {
    padding: 5;
  }
  
  img:hover {
    background-size: 200%;
  }