// .favorites {
//     align-content: center;
//     background-color: transparent;
//     padding-left: 5%;
//     padding-right: 5%;
// }

.favorites-container {
    display : flex;
    margin: 3em auto 0 auto;
    border-radius: 5%;
    background-color: $yellow;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    box-shadow: 7px 4px 15px 5px $black;
    div {
        color: $white;
        object-fit: cover;
        flex-grow: auto;
        align-self: center;
        padding-top: 10%;
        padding-left: 10%;
        padding-right: 5%;
    }
    h4 {
        text-align: center;
        color: $white;
    }
    img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        overflow: hidden;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 4%;
    }
    section {
        color: $white;
        text-align: center;
        object-fit: cover;
        text-overflow: hidden;
        justify-content: center;
        font-size: 90%;
    }
    span {
        color: $white;
        font-size: 90%;
        text-align: center;
    }
    button {
        font-size: 90%;
    }
    a {
        font-size: 90%;
    }
}
  
.home-btn {
    align-content: center;
    padding-top: 2%;
    padding-left: 1%;
    background-color: transparent;
}
  