.search {
  padding-bottom: 3%;
  background: url("./assets/food_pattern.png") $yellow;
}

.search-fields {
  display: block;
  margin: -5% auto 0;
  width: 20%;
  select {
    text-align: center;
    text-align-last: center;
    color: $black;
    background-color: $white;
    text-transform: uppercase;
    transition: all .8s;
    box-shadow: 0 0 3px $gray;
    &:hover {
      box-shadow: inset 0 0 10px $gray;
      transition: all .5s;
    }
  }
  #zip {
    text-transform: uppercase;
    text-align: center;
    caret-color: $white;
    background-color: $white;
    transition: all .8s;
    margin-top: 10px;
    box-shadow: 0 0 3px $gray;
    &:hover {
      // border-bottom: $red;
      box-shadow: inset 0 0 10px $gray;
      transition: all .5s;
    }
  }
  ::placeholder {
    color: $black;
    text-align: center;
  }
}
